@import './../main.scss';

.about {
	margin-top: 16rem;
}

.row {
	display: flex;
	justify-content: space-between;
	@include tab-port {
		flex-direction: column;
  }
}

.left {
	width: 45%;
	margin-right: 40px;

	@include tab-land {
		width: 30%;
		margin-right: 16px;
	}
	@include tab-port {
		width: 100%;
	}
}
	.title {
		margin-bottom: 1.6rem;
		font-weight: 600;
	}
	p {
		line-height: 3.6rem;
		font-weight: 400;
	}

.right {
	width: 55%;

	@include tab-land {
		width: 70%;
	}
	@include tab-port {
		width: 100%;
	}
}
	.callout {
		color: $color-text-red;
		font-weight: 500;
	}