@import './../main.scss';

header {
  height: 80px;
  width: 100%;
  overflow: hidden;

  @include phone {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $color-dark-yellow;
    height: 6rem;
    opacity: .9;
  }

  .innercontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @include phone {
      height: 80px;
      justify-content: center;
    }
    .logo {
      
      a {
        font-size: 2.8rem;
        font-weight: 700;
        text-decoration: none;
      }
      @include phone {
        display: none;
      }
    }
    .navigation {
      
      nav {
        display: flex;
        align-items: center;
          a {
            text-decoration: none;
            font-size: 1.6rem;
            border: solid 1px $color-dark-navyBlue;
            border-radius: 5px;
            padding: .8rem 2rem;
            color: $color-dark-navyBlue;
            margin: .5rem;
            &:hover {
              background-color: $color-light-yellow;
              color: $color-dark-navyBlue;
              transition: .1s ease-in-out;
              box-shadow: $shadow-lg;
              }    
            &:active {
              background: none;
              box-shadow: none;
              background-color: $color-dark-yellow-100;
              border: none;
            }
            &:nth-child(2) {
              margin-right: 0;
              background-color: $color-dark-navyBlue;
              color: $color-dark-yellow;
              &:hover{
                color: $color-dark-yellow; 
                background-color: $color-dark-navyBlue-200;
                transition: .1s ease-in-out;
                box-shadow: $shadow-lg;
              }
            }
        }
      }
    }
  }
};

.navBarHidden {
  display: none;
}