@import './../main.scss';

.buttonContainer {
  text-align: center;
}

.button {
  background-color: $color-dark-navyBlue;
  border-radius: 5px;
  color: $color-dark-yellow;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-right: 1.6rem;
  margin-bottom: 2rem;
  margin-left: 1.6rem;
  padding: 1.2rem;
  width: 92%;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $color-dark-navyBlue-100;
    color: $color-dark-yellow;
    box-shadow: $shadow-lg;
    transition: .2s ease-in-out;
  }
  &:active {
    background-color: $color-bright-green;
    color: $color-dark-navyBlue;
    box-shadow: none;
    border: none;
    &:focus {
      outline: none;
    }
  }

  @include phone {
    margin-bottom: 0;
    padding: 0.8rem;
  }
}