@import './../main.scss';

.buttonContainer {
  text-align: center;
}

.button {
  background-color: $color-dark-navyBlue;
  border-radius: 5px;
  border: none;
  color: $color-dark-yellow;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-right: 1.6rem;
  margin-bottom: 2rem;
  margin-left: 1.6rem;
  padding: 1.2rem;
  width: 92%;
  box-shadow: $shadow;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #dda0dd;
    background-color: #0F1520;
    color: $color-dark-yellow;
    box-shadow: $shadow-lg;
    // color: $color-dark-navyBlue;
  }
  &:active {
    // background-color: #C18CC1;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }

  @include phone {
    margin-bottom: 0;
    padding: 0.8rem;
  }
}