@import './../main.scss';

.logStatus {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  border-bottom: $color-border-gray-400 1px solid;
}

.imageContainer {
  width: 75px;
  height: 72px;
}

.image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.textContainer {
  margin-left: 1rem;
}

.textContainer p {
  margin: 0;
  color: $color-dark-navyBlue
}

.subContentContainer { 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.subContentContainer ol {
  padding: 0;
  margin-left: 1rem; 
}

.subContentContainer ol:first-child {
  margin-left: 0;
  color: $color-text-gray-500;
}

.subContentContainer ol:nth-child(2) {
  color: $color-bright-green;
}

.subContentContainer ol:nth-child(3) {
  color: $color-bright-green;
}