@import './../main.scss';

.form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;


  .signUpFormContainer {
    border-radius: 25px;
    padding: 3.4rem 5rem 6.4rem 5rem;
    background: $gradient-purple-opaque;
    box-shadow: $shadow-lg;
    @include phone {
      background: none;
      box-shadow: none;
      width: 100vw;
    }

    .profileImageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .profileImage {
      border-radius: 50%;
      width: 100px;
    }

    .signUpFormHeader {
      margin-bottom: 3.2rem;

      h1 {
        text-align: center;
        color: $color-text-gray-800;
        font-size: 2.4rem;
        opacity: .9;
      }
    }

    .row {
      display: flex;
      justify-content: space-between;
      @include phone {
        flex-direction: column;
      }
      .left {
        width: 50%;
        margin-right: 4rem;
        @include tab-land {
          width: 50%;
          margin-right: 30px;
        }
        @include tab-port {
          width: 50%;
        }
        @include phone {
          width: 100%;
        }

        .googleInput:focus {
          border-radius: 5px 5px 0px 0px;
          border-bottom: 1px solid $color-dark-navyBlue;
        }

        .suggestionsContainer {
          background-color: $color-white;
          border-radius: 0px 0px 5px 5px;
          padding: 1rem;
          position: absolute;
          hr {
            margin-top: 1rem;
            border: 0.1px solid $color-dark-navyBlue
          }
        }

        .suggestion {
          padding-bottom: 0.5rem;
          color: $color-text-gray-700;

          h4:hover {
            cursor: pointer;
            color: $color-dark-navyBlue 
          }
        }
      }

    .right {
      width: 50%;
      @include tab-land {
        width: 50%;
      }
      @include tab-port {
        width: 100%;
      }
      @include phone {
        width: 100%;
      }
    }

      .inputContainer { 
        margin: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        input {
          border: none;
          border-radius: 5px;
          height: 3.4rem;
          width: 100%;
          min-width: 28rem;
          padding-left: 1rem;
          margin-top: 1rem;
          @include phone {
            width: 100%;
            padding: 2.4rem 1rem;
          }
        }
        input::placeholder {
          color: $color-text-gray-500;
          font-size: 13px;
        }
        label {
          font-weight: bold;
          font-size: 1.3rem;
          color: $color-text-gray-800;
        }
      }

      .buttons {
        display: flex;
        align-items: flex-start;
        margin: 3.6rem 1rem 1rem 1rem;
        button[type=submit] {
          width: 50%;
          font-size: 1.6rem;
          text-decoration: none;
          font-weight: 500;
          background: $color-dark-navyBlue;
          border: none;
          color: $color-dark-yellow;
          border-radius: 5px;
          padding: .8rem 3rem;
          cursor: pointer;
          box-shadow: $shadow;
          &:focus {
            outline: none;
          }
          &:hover {
            background: $color-dark-navyBlue-200;
            box-shadow: $shadow-lg;
            transition: .1s ease-in-out;
          }
          &:active {
            background-color: $color-dark-yellow-100;
            color: $color-dark-navyBlue;
            box-shadow: none;
            &:focus {
              outline: none;
            }
          } 
          @include phone {
            padding: 1rem;
            width: 100%;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  label {
    font-weight: bold;
    font-size: 13px;
  }
}
