// fonts
$font: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

// colours
$color-dark-yellow: #FFC911;
$color-dark-navyBlue: #183042;
$color-bright-green: #00D6A8;
$color-white: #fff;
$color-text-red: #ED3B3C;
$color-text-gray-500: #a0aec0;
$color-border-gray-400: #cbd5e0;

// box-shadows
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

// basic resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

// basic styles
body {
  background: $color-dark-yellow;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: $color-dark-navyBlue;
}

h2 {
  color: $color-dark-navyBlue;
}

h3 {
  color: $color-dark-navyBlue;
}

p {
  color: $color-dark-navyBlue;
  font-size: 2.4rem;
  font-weight: 400;
}

a {
  color: $color-dark-navyBlue;
}

ol {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// basic site-wide container - TODO: MOBILE SIZING
.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 1280px;
    min-width: 1280px;
  }
  @media (max-width: 1280px) {
    width: 976px;
    min-width: 976px;
  }
  @media (max-width: 976px) {
    width: 768px;
    min-width: 768px;
  }
}